:root {
    background-color: black;
    color: white;
    text-align: center;
}

header {
    position: center;
    font-size: large;
}

content {
    font-style: oblique;
}

footer {
    font-size: small;
}

.h1 {

    font-size: medium;
}